/* Normalize */
body, html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.to-upper {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

$blurred-img:"https://lh3.googleusercontent.com/-m8TxQMObg6c/U474EWu7Y9I/AAAAAAAAI2k/xkRGoIEC1iU/s1600/blur.jpg";