.wrapper {
  margin: 0px 1rem;
}

.btn {
  border: none;
  background-color: rgba(179,179,179,.6);
  padding: auto;
  height: 5.5vh;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-family: 'Lato';
  text-transform: capitalize;
  font-size: .55em;
  transition: background-color 200ms ease-in-out;
  &-primary {
    background-color: #4c9c2e;
  }
  
}

.btn:hover {
  cursor: pointer;
  background-color: #231f20;
}
.btn-primary:hover {
  background-color: #4db74a;
}