@import "config";
@import "utilities";


html {
  height: 100vh;
  background: linear-gradient(rgba(#231f20, 0.7), rgba(#231f20, 0.7)), url("../images/background.jpg");
  background-size:cover;
  // box-shadow: inset 0 0 0 2000px #231f20c7;
  font-family: 'Lato', sans-serif;
  font-size: calc(1em + 1vw)
}

body {
  display: grid;
  grid-template-rows: 1fr 10fr .5fr .5fr;
  height: 100vh;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1em }
header {
  margin: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#social-links {
  img {
    margin-right: 1rem;
  }

  :last-child {
    margin: 0;
  }
}

#main-text-wrapper {
  display: flex;
  justify-content: center;
  // margin-top: 1vh;
  text-align: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  
  p {
    font-weight: 900;
  }
  
  .main-text {
    // font-size: 3rem;
    color: #4c9c2e;
  }

  .second-text {
    margin-top: 1rem;
    // font-size: 2.5rem;
    font-weight: 400;
  }
}

#form-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
    .form-left {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;

      input[type=text] {
        border: none;
        height: 5.5vh;
        width: 25vw;
        margin-bottom: .5rem;
        font-size: .65em;
        padding: .1rem .5rem;
        border-radius: 5px;
        background-color: rgba(179,179,179,.6);
        color: #fff;
      }
      input[type=text]::placeholder {
        color: #fff;
      }
    }
    .form-right {
      textarea {
        font-family: 'Lato';
        border: none;
        font-size: .65em;
        padding: .3rem .5rem;
        border-radius: 5px;
        background-color: rgba(179,179,179,.6);
        width: 25vw;
        height: 13vh;
        color: #fff;
      }
      textarea::placeholder {
        color: #fff;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
      }
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  p, pre {
    color: #fff;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-size: .8em;
    margin: .3rem;
  }
}

footer {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  font-weight: 900;
  color: #fff;
  padding: 0 2rem;
  align-items: flex-end;
  font-size: .5em;
}